[submodule "src/driver/gps_driver"]
	path = src/driver/gps_driver
	url = https://github.com/zsx-star/gps_driver.git
[submodule "src/driver/rtcm3.2"]
	path = src/driver/rtcm3.2
	url = https://github.com/CastielLiu/rtcm3.2.git
[submodule "src/driver/livox_ros_driver"]
	path = src/driver/livox_ros_driver
	url = https://github.com/zsx-star/livox_ros_driver.git
[submodule "src/driver/lslidar_c16"]
	path = src/driver/lslidar_c16
	url = https://github.com/zsx-star/lslidar_c16.git
[submodule "src/msgs/pathplan_msgs"]
	path = src/msgs/pathplan_msgs
	url = https://github.com/zsx-star/pathplan_msgs.git
[submodule "src/av_cloudctrl_client"]
	path = src/av_cloudctrl_client
	url = https://github.com/CastielLiu/av_cloudctrl_client.git
[submodule "src/driver/euclidean_cluster"]
	path = src/driver/euclidean_cluster
	url = https://github.com/zshiningstar/euclidean_cluster.git
[submodule "src/driverless_common"]
	path = src/driverless_common
	url = https://github.com/CastielLiu/driverless_common.git
[submodule "src/av_console_app"]
	path = src/av_console_app
	url = https://github.com/CastielLiu/av_console_app.git
